.rei-maincontent {
    margin-top: 100px;
}

// タイプセレクタ
h1 {
	font-size: $baseFontSize;
}

h2 {
	font-size: $baseFontSize;
}

h3 {
	font-size: $baseFontSize;
}

h4 {
	font-size: $baseFontSize;
}

h5 {
	font-size: $baseFontSize;
}

ul ol {
	font-size: $baseFontSize;
}

ul li {
	font-size: $baseFontSize;
}

ol li {
	font-size: $baseFontSize;
}

a {
	font-size: $baseFontSize;
}

blockqoute {
	font-size: $baseFontSize;
}

p {
	font-size: $baseFontSize;
}
